.containDetail {
    background-color: #222; 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 0.1%;  
    min-height: 100vh; 
    margin: 0;
}

.containNav {
   background-color: transparent;
}

.detailTitle {
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    font-size: 30px;
    color: white; 
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: black 0.1em 0.1em 0.2em;
    background-color: aqua;
}

.containImgInfo {
    color: white; 
    background-color: #222;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}


.image {
  height: 100%;
  width: 50%;
  /* margin-left: 10%; */
  margin-left: 21%;

}

.nameDetail {
    font-size: 40px;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #222;
    margin-top: 10%;
} 

.containInfoDetail {
   margin-right: 1%;
}
@media (max-width: 500px) {
    .containDetail  {
        margin-top: 20%;
    }

    .detailTitle {
      font-size: medium;
    }
    .containImgInfo {
        
        display: block;
        margin-bottom: 8%;
    }
    .image {
        width: 80%;
       margin-left: 10%;
    }
    .containInfoDetail {
        margin-top: 5%;
        text-align: center;
    }
 }
