
.containHome {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #222; 
   color: white;
}
.containCard {
   justify-content: space-evenly;
   align-items: center;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
  
}
.containAllFiltros {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.containFilter {
   text-align: center;
   padding-top: 1px; 
}


.containSearch {
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    font-size: 25px;
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em
}

.selectAll {
   background-color: grey;
   font-size: medium;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   border-radius: 5px;
   color: white;
   text-align: center;
   font-style: inherit;
   cursor: pointer; 
}

.selectAlpha {
    background-color: grey;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-style: inherit;
    cursor: pointer; 
}

.selectTemp {
    background-color: grey;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-style: inherit;
    cursor: pointer; 
}

.selectWeight{
    background-color: grey;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    color:white;
    text-align: center;
    font-style: inherit;
    cursor: pointer; 
}

.resetDogs {
  width: 100px;
  height: 40px;
  background-color: white; 
  color: gray;
  font-size: medium;
  border-radius: 5px;
  border: pink; 
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 1000px;
}

.resetDogs:hover {
    background-color: aquamarine;
    color: black;
    border-color: aquamarine;
    cursor: pointer; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

 }

 

