.containCard {
/* background-color: rgb(240, 135, 96);  */
background-image: url("../../imagenes/rosa2.webp");
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
margin: 20px;
width: 310px;
height: 500px;
overflow: hidden;
border-radius: 10px;
box-shadow: 7px 7px 2px 1px rgba(0, 0, 0, 0.2);
}

.cardImg {
align-items: center;
justify-content: center;
margin-left: 30px;
border-radius: 10px;

}

.cardInfo {
text-decoration: none;
text-align: center;
color: black;
font-family: Arial, Helvetica, sans-serif;
margin-left: 5px;
margin-right: 5px;
}

.name {
text-align: center;
color: black;
}

a {
text-decoration: none;
}

.row {
display: flex;
justify-content: space-between;
}