.containPaginate{
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.buttonPaginate {
    background-color: transparent;
    color: black;
    font-size: medium;
    border-color: transparent;

}
  
.buttonPaginate:hover {
      background-color: lightgrey;
      color: black;
      border-color: transparent;
      cursor: pointer; 
} 

@media (max-width: 500px) {
   
    .containPaginate {
       align-items: center;
       justify-content: center;
       font-size: small;
    }
    .buttonPaginate{
        
        align-items: center;
       justify-content: center;
       font-size: small;
       margin-left: 1%;
    }
   
 }
