.containPaginate{
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.buttonPaginate {
    background-color: aquamarine;
    color: black;
    font-size: medium;
    border-radius: 5px;
    border-color: aquamarine;
}
  
.buttonPaginate:hover {
      background-color: lightgrey;
      color: black;
      border-color: grey;
      cursor: pointer; 
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
} 

