.footer {
    background-color: black;
    padding-top: 1%;
    width: 100%;
    }

  .footer img {
    width: 10%;
    border-radius: 50%; 
  }

  .footer p {
    font-weight: 400;
    font-size: 14px;
    color: #B8B8B8;
    letter-spacing: 0.5px;
    margin-top: 2.5%;
    margin-bottom: 0;
    justify-content: center;
    text-align: center;
  }

  
  .textcenter,
  .socialicon {
    
  justify-content: center;
  text-align: center;
 /*  margin-left: 300px; */
  color: white;
  width: 50%;
  margin-left: 25%;
  margin-top: 1%;
  }

 
   .textFooter {
   text-align: left;
  }


  @media (max-width: 500px) {
    .footer p {
        font-size: small;
    }

    .textcenter{
      font-size: small;
      width: 90%;
      margin-left: 6%;
    }
    
 }