@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');



.containLanding {
    background-image: url("../../imagenes/perro-otono-mascotcity.jpg");
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh; 
    margin: 0;
    /* padding: 0; */
}

.contain {
text-align: center;
padding: 20px 20px 30px 20px;
/* height: 485px; */
min-height: 100vh; 
background: rgba(5, 7, 12, 0.568);
}


.containTitle_text {

    margin-top: 9%;
    margin-right: 50%;
    text-align: justify;
    color: azure;
    font-weight: 700;
   /*  letter-spacing: 0.8px; */
    font-size: 20px;  
    margin-left: 5%;
    
}
/* #18BDEC */
.landingTitle  {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
    border-right: .15em solid #e8ec18;
    animation: blink 1s steps(1) infinite;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
    color: white; 
    text-shadow: rgb(31, 29, 29) 0.1em 0.1em 0.2em
}

.landingText {
  color: #B8B8B8;
  font-size: 16px;
  /* letter-spacing: 0.8px;
  line-height: 1.5em; */
  width: 96%;
  text-align: justify;
}

.landingButton {
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 34px;
    font-size: 18px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    z-index: 1;
    border-radius: 5px;
    height: 1%;
    cursor: pointer;
  }
  
  .landingButton::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }

  .landingButton:hover {
    color: #121212;
  }

  .landingButton:hover::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
  }


  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @media (max-width: 500px) {
    .containLanding{
      width: 100%;
    }
    .containTitle_text {
   
      width: 70%;
      margin-left: 15%;
      margin-top: 15%;
    }
    .landingTitle{
      font-size: xx-large;
     /*  margin-left: 4%; */
      /* height: 100px; */
      width: 100%;
    }
    .landingText {
      width: 100%;
      font-size: medium;
    }

  }